POSTGRES_USER=tm
POSTGRES_PASSWORD=tm
POSTGRES_ENDPOINT=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tm-test
GITHUB_TOKEN=github-api-token
GITHUB_REPOSITORY=repo-owner/repo-name
GITHUB_COMMITER_NAME=github-user
GITHUB_COMMITER_EMAIL=github-email
SECRET_KEY=super_secret_key
MEDIAWIKI_BOT_NAME=bot_name
MEDIAWIKI_BOT_PASSWORD=bot_password
WIKI_API_ENDPOINT=https://your-wiki.org/api.php